<table class="table-1 background-gray">
    <tr>
        <th colspan="2">
            <div class="title">Firma del solicitante</div>
        </th>
        <th></th>
    </tr>
    <tr>
        <td colspan="3">
            <div class="signature-img">{{ SignatureApplicant }}</div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <div class="signature-name">{{ SignatureApplicant_Name }}</div>
        </td>
    </tr>
</table>
<table class="background-gray">
    <tr>
        <th colspan="2">
            <div class="title">Firma de almacén</div>
        </th>
        <th></th>
    </tr>
    <tr>
        <td colspan="3" rowspan="2">
            <div class="signature-img">{{ WarehouseSignature }}</div>
        </td>
    </tr>
</table>