<table id='supplies'>
    <thead>
        <tr>
            <td class="width-10">Código</td>
            <td class="width-60">Descripción</td>
            <td class="width-10">Cantidad</td>
            <td class="width-10">Almacen destino</td>
            <td class="width-10">Unidad</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="width-10">Primer columna</td>
            <td class="width-60">SEGUNDA</td>
            <td class="width-10">Tercera columna</td>
            <td class="width-10">Cuarta columna</td>
            <td class="width-10">Quinta columna</td>
        </tr>
    </tbody>
</table>