<table id='info-table'>
    <colgroup>
        <col span="1" style="background-color: none">
        <col span="2" style="background-color:#EDEDED">
    </colgroup>
    <thead>
        <tr>
            <td>
                <div class="document-title">Orden o solicitud de insumos al almacén</div>
            </td>
            <td>
                <div class="document-date-title">Fecha</div>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="request-number">Número de Solicitud de traslado: {{ RequestNum }}</div>
            </td>
            <td>
                <div class="document-date">{{ Fecha }}</div>
            </td>
        </tr>
    </tbody>
</table>